
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Flask App</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"/>
</head>
<body>
    <h1>Todo App</h1>
    <hr>
    <div class="content">
        <form method="POST">
            <p>
                <b><label for="task">Create New Task To Do</label></b>
            </p>
            <p>
            <input type="text" name="task" placeholder="new task...">
            </p>
            <p>
                <b><label for="degree">Degree of Importance</label></b>
            </p>
            <p>
                <input 
                id="degree-0" 
                name="degree" 
                required 
                type="radio" value="High">
                <label for="degree-0">High</label>
            </p>
            <p>
                <input 
                id="degree-1" 
                name="degree" 
                required 
                type="radio" value="Low">
                <label for="degree-1">Low</label>
            </p>
            <button type="submit">Create</button>
        </form>
		<hr>
        
        <h3>Todo List</h3>
        <ul class="todo">
		{% for todo in todos %}
        
        <li>
            <form action="{{ url_for('complete', id=todo['_id']) }}" method="GET">
                <span>{{ todo['task'] }}</span>
                <span><i>{{ todo['degree'] }}</i></span><br>
                <input type="checkbox" name="complete" {% if todo['complete'] %} checked {% endif %}>
                
                <input type="submit" value="Mark as Complete">
            </form>
        <!-- Editing a todo -->
        <form method="GET" action="{{ url_for('edit', id=todo['_id']) }}">
            <input type="submit" value="Edit Task">
        </form>
        
		<!-- Deleting a todo -->
		<form method="POST" 
			  action="{{ url_for('delete', id=todo['_id']) }}">
		<input 
			  type="submit"
			  value="Delete Task"
			  />
		</form>
        </li>
    
		{% endfor %}
    </ul>
    <!-- log out -->
{% if 'username' in session %}
<form action="{{ url_for('logout') }}" method="post">
    <button type="submit">Logout</button>
</form>
{% endif %}

        
    </div>
</body>
</html>
